#title-bar {
    -webkit-user-select: none;
    position: fixed;
    -webkit-app-region: drag;
    height: 32px;
    padding: 0px;
    margin: 0px;
    color: #ADADAD;
    font-family: sans-serif;
    width: 100%;
    top: 0px;
    left: 0px;
}

#title {
    position: fixed;
    top: 0px;
    left: 12px;
    line-height: 32px;
    font-size: 14px;
}

#title-bar-btns {
    -webkit-app-region: no-drag;
    position: fixed;
    top: 1px;
    right: 0px;
}

#title-bar-btns button {
    height: 32px;
    width: 32px;
    background-color: transparent;
    border: none;
    color: #F1F1F1;
    font-size: 16px;
}

#title-bar-btns button:hover {
    background-color: #3F3F41;
}

#mainbody {
    height: 90vh;
    display: flex;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #2D2D30;
}

#loginbox {
    /*position: absolute;
  vertical-align: middle;
  text-align: center; 
  justify-content: center;*/
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;
    background-color: maroon;
    color: white;
}

#buttons {
    padding-top: 20px;
}

#statbar {
    background-color: maroon;
    width: 100%;
    height: 15%;
}

.userlabel {
    padding-top: 10px;
    padding-bottom: 10px;
}

#chatform {
    background: #000;
    padding-top: 3px;
    padding-bottom: 3px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: left;
}

#addressbox {
    bottom: 0;
}

.formbutton {
    border: 0;
    right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 13.5%;
}


/*.forminput{ 
        width: 9%; 
        background: rgb(130, 224, 255); 
        border: none; 
        padding: 
        10px; 
      }*/

ul,
menu,
dir {
    -webkit-padding-start: 0px
}

#messages {
    background: red;
    padding-top: 0px;
    padding-bottom: 0px;
    color: white;
    position: absolute;
    max-height: 87.5%;
    bottom: 25px;
    left: 0;
    width: 100%;
    text-align: left;
}

#usertext {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 85%;
}

ul {
    max-height: 92.5%;
    overflow: scroll;
    overflow-x: hidden;
}

li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.white-message {
    background-color: #3F3F41;
}

.gray-message {
    background-color: #2D2D30;
}